
<!DOCTYPE html>
<html>


<head>
    <title>Candy</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base target="_blank" />
    <meta name="language" content="en-US" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="css/streamie.less" media="screen,projection,print" /> 
    <script type="text/javascript" src="js/scriptsLoader.js"></script>
    <script>
        scriptsLoader.header();
    </script>
    <link href='images/Candy_shortcut.png' rel='shortcut icon' />
</head>

<body id="www-streamie-org"  class="loading">
    <div id="container-fruid">
        <div id="header">
            <h1 id="logo"><a href="#" target="_self" class="i18n">candy for <span id="currentuser-screen_name"></span></a></h1>
            <div id="meta"><a href="/logout/twitter" target="_self" class="logout i18n">Logout</a></div>
            <ul id="mainnav">
                <li class="activatable rpl"><a href="#mention" class="i18n" title="Mentions" target="_self">@</a></li>
                <li class="activatable timeline active"><a href="#all" class="i18n" title="Show All" target="_self">⚛</a></li>
                <li class="activatable rt"><a href="#retweet" class="i18n" title="Retweets" target="_self">♻</a></li>
                <li class="activatable fv"><a href="#starred" class="i18n" title="Favorites" target="_self">★</a></li>
                <li class="activatable dm"><a href="#direct" class="i18n" title="Direct Messages" target="_self">✉</a></li>
                <li class="settings"><a href="#settings" class="i18n" title="Settings" target="_self">⚙</a></li>
                <li class="add"><a href="#add" class="i18n" title="New Tweet" target="_self">✍</a></li>
            </ul>
            
            <form action="/1/statuses/update.json" method="post" class="status tweet" id="mainstatus">
                <input type="hidden" name="in_reply_to_status_id" value="" />
                <input type="hidden" name="lat" value="" />
                <input type="hidden" name="long" value="" />
                <input type="hidden" name="display_coordinates" value="" />
                <fieldset class="addons">
                    <a href="#" class="directMessage i18n">Direct Message</a>
                    <a href="#" class="shortenURLs i18n">Shorten URLs</a>
                    <a href="#" class="attachImage i18n">Attach an Image</a>
                </fieldset>
                <fieldset> 
                    <textarea name="status" rows="5" cols="40" class="i18n" placeholder="Your Tweet…"></textarea>
                    <span class="characters">0</span> 
                    <input type="submit" value="Tweet" class="button" />
                </fieldset>
            </form>
            <div id="settings" class="panel"></div>
        </div>
        <div id="content">
            <div class="logo"><img src="images/Candy_logo.png"  width="319" height="257" /></div>
                <div id="about">
                    <div class="container">
				        <p class="point i18n">
                            大切なツイートだけを、お届けします。
                        </p>
				        <p><a href="/auth/twitter" class="inject-hl" target="_self"><img src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png" alt="Sign in with Twitter" /></a></p>
                    </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <h2>キュレーション</h2>
                            <p>キャンディは、全てのツイートを表示する事はしません。今までのTwitterでの行動を分析し、あなたにぴったりのツイートだけで作られたタイムラインをお届けします。</p>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <h2>学習アルゴリズム</h2>
                            <p>キャンディは、あなたのことをもっと知りたがっています。使えば使う程、素晴らしいパートナーへと成長していきます。</p>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <h2>カスタムタイムラインとの同期</h2>
                            <p>キャンディのタイムラインは、カスタムタイムラインと同期出来ます。あなたに近い趣向をもつユーザに対し、簡単に情報を伝える事が可能です。</p>
                        </div>
                    </div>    
                    <hr>
                </div>
                
                <p class="subline i18n">Yes,this is the open source software.<br>
                    <a href="https://github.com/YusukeShimizu/Candy">Join us on Github</a>
                <br>
                    <a href="https://twitter.com/Bruwbird">Follow us on Twitter</a>
                </p>
               
			   
			    <footer>
                    <p>© Bruwbird Corp</p>
                </footer>
            </div>
            <h2 class="h1 i18n">Timeline</h2>
            <ol id="stream">
            </ol>
        </div>
    </div>
    <div id="imageUpload" class="popin">
        <h2 class="h i18n">Image Upload</h2>
        <div class="msg">
            <form id="imageUploadForm"><input type="file" name="file"></form>
            <div class="progress"></div>
        </div>
        <div class="buttons">
            <input type="button" value="Cancel" class="button close i18n" />
        </div>
    </div>
    <script>
        scriptsLoader.body();
    </script>
    
<!--      
     Simplified BSD License
     
     Copyright 2010 Malte Ubl. All rights reserved.

     Redistribution and use in source and binary forms, with or without modification, are
     permitted provided that the following conditions are met:

        1. Redistributions of source code must retain the above copyright notice, this list of
           conditions and the following disclaimer.

        2. Redistributions in binary form must reproduce the above copyright notice, this list
           of conditions and the following disclaimer in the documentation and/or other materials
           provided with the distribution.

     THIS SOFTWARE IS PROVIDED BY MALTE UBL ``AS IS'' AND ANY EXPRESS OR IMPLIED
     WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
     FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL MALTE UBL OR
     CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
     CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
     SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
     ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
     NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
     ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

     The views and conclusions contained in the software and documentation are those of the
     authors and should not be interpreted as representing official policies, either expressed
     or implied, of Malte Ubl.
-->

</html>
