<% var h = helpers.html; %>
    <li class="tweet<%= tweet.retweet ? ' retweet' : ''%><%= tweet.conversation ? ' conversation'+tweet.conversation.index : ''%><%= tweet.mentioned ? ' mention' : ''%>">
	    <a href = "http://twitter.com/<%= h(tweet.data.user.screen_name) %>" class="user-href">
		    <canvas data-src="<%= h(tweet.data.user.profile_image_url_https) %>" alt="<%= h(tweet.data.user.name) %>" width="48" height="48" class="profile_image_url" />
        </a>
        <% if(tweet.retweet) { %>
            <a href="http://twitter.com/<%= h(tweet.retweet.user.screen_name) %>" class="retweet-user-href-icon">
                <canvas data-src="<%= h(tweet.retweet.user.profile_image_url) %>" alt="<%= h(tweet.retweet.user.name) %>" width="24" height="24" class="profile_image_url" />
            </a>
        <% } %>
        <div class="status">
            <p class="text"><%= tweet.textHTML %></p>
            <ul class="actions">
                <li title="Retweet" class="retweet" tabindex="0"></li>
                <li title="Reply" class="reply" tabindex="0"></li>
                <li title="Quote" class="quote" tabindex="0"></li>
                <li title="Star" class="favorite" tabindex="0"></li>
                <% if( tweet.yourself ) { %>
                    <li title="Delete" class="delete" tabindex="0"></li>
                <% } %>
            </ul>
            <div class = "header">
                <h3 class="h user-name">
                    <a href="http://twitter.com/<%= h(tweet.data.user.screen_name) %>" class="user-href">
                        @<%= tweet.data.user.screen_name+" ("+tweet.data.user.name+")" %>
                    </a>
                    <% if(tweet.retweet) { %> 
                        via
                        <a href="http://twitter.com/<%= h(tweet.retweet.user.screen_name) %>"class="retweet-user-href">
                            @<%= h(tweet.retweet.user.screen_name) %> (<%= h(tweet.retweet.user.name) %>)
                        </a>
                    <% }%>
                </h3>
                <div class="time created_at">
                    <a href="<%= h('http://twitter.com/'+tweet.data.user.screen_name+'/status/'+tweet.id)%>">
                    </a>
                </div>
                <% if(tweet.data.in_reply_to_status_id) { %>
                    <div class="in_reply_to_screen_nam">
                        <a href="http://twitter.com/<%= h(tweet.data.in_reply_to_screen_name) %>/status/<%=h(tweet.data.in_reply_to_status_id)%>" class="conversation" title="Show conversation">in a conversation with <%=h(tweet.data.in_reply_to_screen_name) %></a>
                    </div>
                <% } %>
            </div>
        </div>
	</li>