<% var h = helpers.html; %>
	<li class="tweet<%= tweet.retweet ? 'retweet' : ''%>">
		<a href = "http://twitter.com/<%= h(tweet.user.screen_name) %>" class="user-href">
			<canvas data-src="<%= h(tweet.user.profile_image_url_https) %>" alt="<%= h(tweet.user.name) %>" width="48" height="48" class="profile_image_url" />
		</a>
		<% if(tweet.retweet) { %>
			<a href="http://twitter.com/<%= h(tweet.retweet.user.screen_name) %>" class="retweet-user-href-icon">
				<canvas data-src="<%= h(tweet.retweet.user.profile_image_url) %>" alt="<%= h(tweet.retweet.user.name) %>" width="24" height="24" class="profile_image_url" />
			</a>
		<% } %>
		<div class="status">
			<p class="text"><%= tweet.textHTML %></p>
			<div class = "header">
				<h3 class="h user-name">
					<% if(tweet.retweet) { %> 
						via
						<a href="http://twitter.com/<%= h(tweet.retweet.user.screen_name) %>" class="retweet-user-href">
							@<%= h(tweet.retweet.user.screen_name) %> (<%= h(tweet.retweet.user.name) %>)
						</a>
					<% }%>
				</h3>
				<div class="time created_at">
					<a href="<%= h('http://twitter.com/'+tweet.user.screen_name+'/status/'+tweet.id)%>">
					</a>
				</div>
			</div>
		</div>
	</li>
				
